@using IdentityServer4.Extensions
@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to Troody Auth Server
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            @if (!string.IsNullOrWhiteSpace(name))
            {
            <p class="lead">
                Welcome @name!
            </p>
            <p class="lead">
                Use the menu above to manage your account.
            </p>
            }
            else
            {
            <p class="lead">
                Click <a class="btn btn-default" href="~/Account/Login" role="button">here</a> to log in.
            </p>
            <p class="lead">
                This service provides identity and access control, including single sign-on, identity management, authorization and API security for your applications. 
            </p>
            <p>
                Troody Auth Server publishes a
                <a href="~/.well-known/openid-configuration">discovery document</a>
                where you can find metadata and links to all the endpoints, key material, etc.
            </p>
            }
        </div>
    </div>
</div>
